$primary-colour: #193655;
$dark-colour: rgb(66, 21, 109);
$light-colour: rgb(196, 218, 218);
$danger-colour: orange;
$success-colour: green;
$max-width: 1150px;

//set text colour based on bakgorund
@function set-text-colour($colour){
    @if(lightness($colour) > 50 ){
        @return #333;
    }@else {
        @return #fff;
    }
}

//set backgeround and text colour
@mixin set-background($colour) {
    background-color: $colour;
    color: set-text-colour($colour);
}

// margin and padding
$spaces: (1,2,3,4,5);

@each $space in $spaces {
    //all around margin
    .m-#{$space} {
        margin: #{$space}rem;
    }
    //vertical margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    //all around padding
    .p-#{$space} {
        padding: #{$space}rem;
    }
    //vertical padding
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}